html {
  font-size: 22px;
  background: #f5f5f5;
}

.newspaper {
  background: #ffffff;
  padding: 20px;
  max-width: 850px;
  margin: 20px auto;
  font-family: 'Times New Roman', serif;
}


.top-bar {
  background: #e8e6e4;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
}

.double-line {
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  height: 6px;
  margin: 12px 0;
}


.headline {
  font-size: 3rem;
  margin: 10px 0 5px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.03em;
}


.sub-headline {
  background: #e8e6e4;
  text-align: center;
  font-size: 1rem;
  padding: 6px;
  letter-spacing: 0.25em;
  font-weight: 600;
  margin-bottom: 20px;
}


.article-section {
  display: flex;
  gap: 20px;
}

.article-section img {
  width: 330px;
  height: 420px;
  object-fit: cover;
}

.article-text {
  flex: 1;
}

.article-title {
  font-size: 1.4rem;
  margin-top: 0;
  font-weight: 900;
}


.big-quote {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
  margin: 20px 0;
  line-height: 1.4;
}

.bottom-text p {
  line-height: 1.6;
}


.footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 0.75rem;
}
